.desktop-ielts-page-child,
.vector-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 2014px;
    height: 907.13px;
}
.vector-icon {
    height: 3.78%;
    width: 21.56%;
    right: -4.68%;
    bottom: 96.22%;
    left: 83.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.7;
}
.chng-trnh-ielts {
    position: relative;
    display: inline-block;
    width: 794px;
}
.group-child,
.group-item {
    position: absolute;
    top: 130px;
    left: 874.16px;
    border-radius: var(--br-3xs);
    background-color: var(--color-gainsboro-200);
    width: 545.84px;
    height: 360px;
}
.group-item {
    left: 0;
}
.group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 28.47px;
    background-color: var(--color-darkslategray-100);
    width: 795.45px;
    height: 446px;
}
.youtube-full-color-icon-2017 {
    position: absolute;
    top: 192.51px;
    left: 356.17px;
    width: 83.44px;
    height: 60.98px;
    object-fit: cover;
}
.group-wrapper,
.rectangle-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 795.45px;
    height: 446px;
}
.group-wrapper {
    left: 332.43px;
}
.rectangle-parent {
    position: relative;
    width: 1420px;
    height: 490px;
    flex-shrink: 0;
}
.chng-trnh-ielts-chun-quc-parent {
    position: absolute;
    top: 1358px;
    left: 150px;
    width: 1428px;
    height: 684px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-51xl);
}
.frame-child {
    position: relative;
    width: 33.5px;
    height: 22.09px;
    flex-shrink: 0;
}
.vector-parent {
    position: absolute;
    top: 2051px;
    left: 814px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-17xl);
}
.ti-sao-nn {
    position: relative;
}
.ti-sao-nn-hc-ielts-ti-vus-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 150px;
}
.building-columns-solid-1-icon {
    position: relative;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    overflow: hidden;
}
.nm-hot-ng {
    position: relative;
    font-size: var(--bodytext-body1-regular-size);
    display: inline-block;
    text-align: center;
    width: 154px;
}
.building-columns-solid-1-parent,
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-smi);
}
.building-columns-solid-1-parent {
    gap: var(--gap-xl);
}
.handshake-solid-1-icon {
    position: relative;
    width: 60.34px;
    height: 48px;
    flex-shrink: 0;
    overflow: hidden;
}
.nm-i-tc {
    position: relative;
    font-size: var(--bodytext-body1-regular-size);
    display: inline-block;
    text-align: center;
    width: 223px;
}
.chalkboard-user-solid-1-icon {
    position: relative;
    width: 60.86px;
    height: 48px;
    flex-shrink: 0;
    overflow: hidden;
}
.hc-vin-ielts {
    position: relative;
    font-size: var(--bodytext-body1-regular-size);
    display: inline-block;
    text-align: center;
    width: 131px;
}
.vector-icon1 {
    position: relative;
    width: 66.46px;
    height: 48px;
    flex-shrink: 0;
}
.trung-tm-chun {
    position: relative;
    font-size: var(--bodytext-body1-regular-size);
    display: inline-block;
    text-align: center;
    width: 184px;
}
.graduation-cap-solid-1-icon {
    position: relative;
    width: 60.2px;
    height: 48px;
    flex-shrink: 0;
    overflow: hidden;
}
.frame-group,
.frame-parent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.frame-group {
    flex-direction: row;
    gap: 80px;
    text-align: right;
    font-size: var(--font-size-41xl);
    color: var(--color-darkslategray-200);
}
.frame-parent {
    position: absolute;
    top: 880.13px;
    left: 219px;
    flex-direction: column;
    gap: var(--gap-51xl);
    text-align: left;
}
.c-quyn-dnh {
    position: relative;
    display: inline-block;
    width: 680px;
}
.ellipse-icon {
    position: absolute;
    top: -20px;
    left: -40px;
    width: 325px;
    height: 325px;
}
.page-4-02-1,
.page-4-02-1-wrapper {
    position: absolute;
    width: 136.12px;
    height: 136.12px;
}
.page-4-02-1 {
    top: 0;
    left: 0;
    object-fit: cover;
}
.page-4-02-1-wrapper {
    top: 54.44px;
    left: 54.44px;
}
.ellipse-parent {
    position: relative;
    width: 245px;
    height: 245px;
    flex-shrink: 0;
}
.np-bi-writing,
.sa-bi-writing {
    position: relative;
    display: inline-block;
    width: 300px;
}
.np-bi-writing {
    font-size: var(--bodytext-body2-regular-size);
    color: var(--color-dimgray-100);
}
.group-parent,
.sa-bi-writing-trn-ng-dng-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sa-bi-writing-trn-ng-dng-parent {
    width: 300px;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    justify-content: center;
    gap: var(--gap-3xs);
}
.group-parent {
    justify-content: flex-start;
    gap: var(--gap-11xl);
}
.page-4-03-1 {
    position: absolute;
    top: 55.13px;
    left: 55.13px;
    width: 142.73px;
    height: 142.73px;
    object-fit: cover;
}
.luyn-speaking-vi-ai-parent {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 39px;
}
.page-4-04-1 {
    position: absolute;
    top: 52px;
    left: 52px;
    width: 141px;
    height: 141px;
    object-fit: cover;
}
.n-luyn-v {
    position: relative;
    display: inline-block;
    width: 263.5px;
}
.frame-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    font-size: var(--font-size-3xl);
    color: var(--color-slateblue);
}
.c-quyn-dnh-ring-cho-hnh-k-parent {
    position: absolute;
    top: 4128.6px;
    left: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-51xl);
}
.hnh-khch-vip {
    position: relative;
    display: inline-block;
    width: 616.56px;
}
.group-child3,
.rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
}
.rectangle-div {
    border-radius: var(--br-3xs);
    background-color: var(--color-whitesmoke);
    width: 434px;
    height: 479px;
}
.group-child3 {
    border-radius: 16.16px;
    background-color: var(--color-darkslategray-100);
    width: 396.51px;
    height: 243.34px;
}
.youtube-full-color-icon-20171 {
    position: absolute;
    top: 105.03px;
    left: 177.54px;
    width: 41.59px;
    height: 33.27px;
    object-fit: cover;
}
.group-frame,
.rectangle-parent1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 396.51px;
    height: 243.34px;
}
.group-frame {
    top: 18px;
    left: 18.75px;
}
.rectangle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 434px;
    height: 479px;
}
.frame-inner {
    position: relative;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    object-fit: cover;
    opacity: 0.8;
}
.nguyn-hong-long {
    position: relative;
    text-transform: capitalize;
}
.tui- {
    font-weight: 600;
}
.ielts-75 {
    color: var(--primary-1-main-50);
}
.nguyn-hong-long-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-8xs);
}
.line-div {
    position: relative;
    border-top: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    width: 297px;
    height: 1px;
    flex-shrink: 0;
}
.vus {
    text-transform: capitalize;
}
.vus-gio-vin-container {
    position: relative;
    font-size: var(--bodytext-body1-regular-size);
    display: inline-block;
    font-weight: 600;
    width: 289px;
}
.ellipse-parent1,
.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
}
.ellipse-parent1 {
    position: absolute;
    top: 282px;
    left: 38px;
    flex-direction: row;
    gap: var(--gap-xl);
}
.group-div {
    position: relative;
    width: 434px;
    height: 479px;
    flex-shrink: 0;
}
.ellipse-parent2,
.group-parent2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.ellipse-parent2 {
    position: absolute;
    top: 282.4px;
    left: 38px;
    gap: var(--gap-xl);
}
.group-parent2 {
    gap: var(--gap-11xl);
    text-align: left;
    font-size: var(--subheading-sub3-bold-size);
    color: var(--color-darkslategray-200);
}
.hnh-khch-vip-ca-vus-ni-parent {
    position: absolute;
    top: 5809.6px;
    left: 183px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}
.group-child8,
.nhn-t-vn {
    position: absolute;
    top: 0;
    left: 0;
}
.group-child8 {
    background-color: #f6fffd;
    width: 1728px;
    height: 750px;
}
.nhn-t-vn {
    display: inline-block;
    width: 1076.67px;
    height: 49.25px;
}
.nhn-t-vn-min-ph-wrapper {
    position: relative;
    width: 1076.67px;
    height: 49.25px;
    flex-shrink: 0;
}
.bng-vic-ng {
    margin: 0;
}
.bng-vic-ng-container {
    position: relative;
    font-size: var(--bodytext-body1-regular-size);
    font-weight: 600;
    color: var(--primary-2-main-30);
    display: inline-block;
    width: 910.45px;
    height: 50.45px;
    flex-shrink: 0;
}
.group-parent5 {
    position: absolute;
    top: 48px;
    left: 326.17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    text-align: center;
    font-size: var(--font-size-21xl);
}
.group-icon {
    width: 52px;
    height: 52px;
}
.group-icon,
.luyn-thi-ielts,
.vector-icon2 {
    position: relative;
    flex-shrink: 0;
}
.luyn-thi-ielts {
    display: inline-block;
    width: 415px;
    height: 29.62px;
}
.vector-icon2 {
    width: 18px;
    height: 10.8px;
}
.group-parent6,
.luyn-thi-ielts-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-mini);
}
.group-parent6 {
    position: absolute;
    top: 217.7px;
    left: 571.5px;
    border-radius: var(--br-81xl);
    background-color: var(--main-color-3);
    box-shadow: 0 17px 40px rgba(255, 132, 132, 0.2);
    border: 1px solid var(--neutral-main-20);
    box-sizing: border-box;
    width: 562px;
    height: 80px;
    padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs) 17px;
    color: var(--primary-1-main-50);
}
.text {
    position: absolute;
    top: 288.27px;
    left: 1212px;
    color: var(--color-black);
}
.group-child9 {
    position: absolute;
    top: 186.85px;
    left: 149.5px;
    border-top: 1px solid var(--neutral-main-20);
    box-sizing: border-box;
    width: 1429px;
    height: 1px;
}
.h-v-tn-wrapper {
    display: flex;
    flex-direction: row;
    padding: var(--padding-8xs) var(--padding-6xl);
    align-items: flex-start;
    justify-content: flex-start;
}
.input {
    border-radius: var(--br-3xs);
    background-color: var(--main-color-3);
    border: 1px solid var(--neutral-main-20);
    box-sizing: border-box;
    width: 460px;
    height: 65px;
    flex-shrink: 0;
    padding: var(--padding-3xs) var(--padding-6xl);
    align-items: center;
    text-align: left;
    font-size: var(--bodytext-body1-regular-size);
    color: var(--neutral-main-40);
}
.frame-parent5,
.input,
.input3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.frame-parent5 {
    align-items: flex-start;
    gap: var(--gap-51xl);
}
.input3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--main-color-3);
    border: 1px solid var(--neutral-main-20);
    box-sizing: border-box;
    width: 460px;
    height: 65px;
    padding: var(--padding-3xs) var(--padding-6xl);
    align-items: center;
}
.section-expand-contract-1-icon {
    position: absolute;
    top: 26px;
    left: 429px;
    width: 14px;
    height: 14px;
    overflow: hidden;
}
.input-parent {
    position: relative;
    width: 460px;
    height: 65px;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--bodytext-body1-regular-size);
    color: var(--neutral-main-40);
}
.button,
.frame-parent4 {
    position: absolute;
    display: flex;
    font-size: var(--bodytext-body2-regular-size);
}
.frame-parent4 {
    top: 342.7px;
    left: 370.5px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-26xl);
    text-align: center;
    color: var(--neutral-main-60);
}
.button {
    top: 647.25px;
    left: 701.5px;
    border-radius: var(--br-81xl);
    background-color: var(--neutral-main-40);
    border: 1px solid var(--neutral-main-20);
    box-sizing: border-box;
    width: 328px;
    height: 55px;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-23xl);
    align-items: center;
    justify-content: center;
    color: var(--main-color-3);
}
.rectangle-parent6 {
    position: absolute;
    top: 7230.6px;
    left: 0;
    width: 1728px;
    height: 750px;
    text-align: left;
    font-size: var(--subheading-sub3-bold-size);
    color: var(--main-color-2);
}
.desktop-ielts-page-item,
.frame-icon {
    position: absolute;
    top: 658px;
    left: 821px;
    width: 85px;
    height: 96px;
}
.frame-icon {
    top: 453.45px;
    left: 0;
    width: 261.8px;
    height: 270.2px;
    overflow: hidden;
}
.desktop-ielts-page-inner,
.group-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1728px;
    height: 117px;
}
.group-icon1 {
    height: 35.54%;
    width: 15.89%;
    right: 0;
    bottom: 64.46%;
    left: 84.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.chinh-phc,
.ielts {
    margin: 0;
    line-height: 0%;
}
.ielts {
    font-size: 160px;
    line-height: 87.1%;
    background: linear-gradient(180deg, #ffe3e3, #ffebd9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.chinh-phc-ielts-container {
    position: absolute;
    top: 0;
    left: 0;
}
.tm-v-khi {
    position: relative;
    font-weight: 700;
}
.tm-v-khi-m-tng-lai-wrapper {
    position: absolute;
    top: 200px;
    left: 15.93px;
    border-radius: 5px;
    background-color: var(--color-goldenrod-100);
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) 41px;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-3xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
}
.group-group {
    position: absolute;
    height: 68.59%;
    width: 84.2%;
    top: 0;
    right: 15.8%;
    bottom: 31.41%;
    left: 0;
}
.group-icon2 {
    position: relative;
    width: 19.5px;
    height: 17.78px;
    flex-shrink: 0;
}
.chuyn-su-4-k-nng-parent,
.group-wrapper3 {
    border-radius: var(--br-81xl);
    background-color: var(--color-goldenrod-100);
    width: auto;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: var(--padding-5xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.chuyn-su-4-k-nng-parent {
    background-color: var(--main-color-3);
    width: auto;
    height: auto;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-xl);
    gap: var(--gap-smi);
}
.nng-band-cp {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
}
.frame-child5 {
    position: relative;
    width: 18.39px;
    height: 13px;
    flex-shrink: 0;
}
.nng-band-cp-tc-parent {
    border-radius: var(--br-81xl);
    background-color: var(--main-color-3);
    width: 280px;
    height: 55px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-smi);
}
.frame-parent11 {
    position: absolute;
    top: 305.11px;
    left: 15.93px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;
    font-size: var(--bodytext-body1-regular-size);
    color: var(--primary-1-main-50);
}
.group-parent7 {
    position: absolute;
    height: 4.11%;
    width: 35.64%;
    top: 2.52%;
    right: 53.44%;
    bottom: 93.37%;
    left: 10.92%;
    text-align: left;
    font-size: 50px;
    color: var(--main-color-3);
}
.desktop-ielts-page-child1,
.group-icon3 {
    position: absolute;
    height: 0.05%;
    width: 0.23%;
    top: 2.89%;
    right: 13.63%;
    bottom: 97.07%;
    left: 86.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.desktop-ielts-page-child1 {
    height: 5.77%;
    width: 31.39%;
    top: 1.84%;
    right: 10.47%;
    bottom: 92.39%;
    left: 58.13%;
}
.khoahoc-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ebfbff;
    width: 1728px;
    height: 1814px;
}
.vector-icon3 {
    position: absolute;
    height: 17%;
    width: 23.59%;
    top: 87.19%;
    right: -11.79%;
    bottom: -4.19%;
    left: 88.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.n-li-k {
    position: relative;
    font-size: var(--bodytext-body2-regular-size);
    color: var(--color-darkslategray-300);
    display: inline-block;
    width: 608px;
}
.luyn-thi-cp-tc-trong-3-thn-parent,
.parent2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.luyn-thi-cp-tc-trong-3-thn-parent {
    width: 641px;
    flex-shrink: 0;
    flex-direction: column;
    gap: var(--gap-6xs);
    font-size: var(--font-size-16xl);
    color: var(--color-darkslateblue-100);
    font-family: var(--bodytext-body1-regular);
}
.parent2 {
    width: 665px;
    flex-direction: row;
    gap: var(--gap-xl);
}
.bt-pht-band,
.ti-u-thc {
    position: relative;
    display: inline-block;
    width: 453px;
}
.ti-u-thc {
    font-size: var(--bodytext-body2-regular-size);
    color: var(--color-darkslategray-300);
    width: 587px;
}
.bt-pht-band-im-sau-01-kha-parent,
.parent3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.bt-pht-band-im-sau-01-kha-parent {
    width: 591px;
    flex-shrink: 0;
    flex-direction: column;
    gap: var(--gap-6xs);
    font-size: var(--font-size-16xl);
    color: var(--color-darkslateblue-100);
    font-family: var(--bodytext-body1-regular);
}
.parent3 {
    width: 662px;
    flex-direction: row;
    gap: var(--gap-xl);
}
.hc-chin-thut,
.tp-trung-luyn {
    position: relative;
    display: inline-block;
    width: 541px;
}
.tp-trung-luyn {
    font-size: var(--bodytext-body2-regular-size);
    color: var(--color-darkslategray-300);
    width: 583px;
}
.frame-parent12,
.hc-chin-thut-cho-tng-dng-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.hc-chin-thut-cho-tng-dng-parent {
    width: 584px;
    flex-shrink: 0;
    gap: var(--gap-6xs);
    font-size: var(--font-size-16xl);
    color: var(--color-darkslateblue-100);
    font-family: var(--bodytext-body1-regular);
}
.frame-parent12 {
    position: absolute;
    top: 1215.27px;
    left: 874px;
    width: 665px;
    gap: var(--gap-26xl);
}
.group-child10 {
    position: absolute;
    top: 54px;
    left: 0;
    width: 867px;
    height: 8px;
}
.ielts-express {
    position: absolute;
    top: 0;
    left: 221px;
    font-weight: 700;
}
.ellipse-parent4 {
    position: absolute;
    top: 1092.27px;
    left: 771px;
    width: 867px;
    height: 73px;
    font-size: var(--font-size-41xl);
    color: var(--color-slateblue);
    font-family: var(--font-montserrat);
}
.gip-hc-vin,
.i3 {
    position: relative;
    display: inline-block;
}
.i3 {
    width: 46px;
    flex-shrink: 0;
}
.gip-hc-vin {
    font-size: var(--bodytext-body2-regular-size);
    color: var(--color-darkslategray-300);
    width: 532px;
}
.l-trnh-n-luyn-chuyn-su-parent,
.parent5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.l-trnh-n-luyn-chuyn-su-parent {
    width: 608px;
    flex-shrink: 0;
    flex-direction: column;
    gap: var(--gap-6xs);
    font-size: var(--font-size-16xl);
    color: var(--color-darkslateblue-100);
    font-family: var(--bodytext-body1-regular);
}
.parent5 {
    flex-direction: row;
    gap: var(--gap-xl);
}
.hc-ti-lp {
    position: relative;
    font-size: var(--bodytext-body2-regular-size);
    color: var(--color-darkslategray-300);
    display: inline-block;
    width: 540px;
}
.lch-hc-ti-u-mi-hnh-thc-parent,
.parent6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.lch-hc-ti-u-mi-hnh-thc-parent {
    width: 540px;
    flex-shrink: 0;
    flex-direction: column;
    gap: var(--gap-6xs);
    font-size: var(--font-size-16xl);
    color: var(--color-darkslateblue-100);
    font-family: var(--bodytext-body1-regular);
}
.parent6 {
    width: 662px;
    flex-direction: row;
    gap: 17px;
}
.cam-kt-u {
    position: relative;
    display: inline-block;
    width: 635px;
}
.cam-kt-u-ra-parent {
    width: 593px;
    flex-shrink: 0;
    flex-direction: column;
    gap: var(--gap-6xs);
    font-size: var(--font-size-16xl);
    color: var(--color-darkslateblue-100);
    font-family: var(--bodytext-body1-regular);
}
.cam-kt-u-ra-parent,
.frame-parent14,
.parent7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.parent7 {
    width: 662px;
    flex-direction: row;
    gap: var(--gap-lg);
}
.frame-parent14 {
    position: absolute;
    top: 126px;
    left: 170px;
    width: 665px;
    flex-direction: column;
    gap: 40px;
}
.ielts-experts {
    position: absolute;
    top: 0;
    left: 238px;
    font-weight: 700;
}
.ellipse-parent5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 867px;
    height: 73px;
    font-size: var(--font-size-41xl);
    color: var(--color-slateblue);
    font-family: var(--font-montserrat);
}
.frame-icon1 {
    position: relative;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    overflow: hidden;
}
.button2 {
    position: absolute;
    top: 518px;
    left: 237px;
    border-radius: var(--br-81xl);
    background-color: var(--primary-1-main-50);
    box-shadow: 0 20px 60px rgba(185, 19, 26, 0.25);
    width: 399px;
    height: 55px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-23xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-mini);
    font-size: var(--bodytext-body2-regular-size);
    color: var(--main-color-3);
    font-family: var(--bodytext-body1-regular);
}
.frame-parent13,
.khoahoc-item {
    position: absolute;
    top: 330.45px;
    left: 13px;
    width: 867px;
    height: 573px;
}
.khoahoc-item {
    top: 347.07px;
    left: 1035.39px;
    width: 496.61px;
    height: 556.38px;
    object-fit: cover;
}
.button4,
.chn-kho-hc-container {
    position: absolute;
    font-family: var(--bodytext-body1-regular);
}
.button4 {
    top: 1655.27px;
    left: 945px;
    border-radius: var(--br-81xl);
    background-color: var(--primary-1-main-50);
    box-shadow: 0 20px 60px rgba(185, 19, 26, 0.25);
    width: 399px;
    height: 55px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-23xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-mini);
    font-size: var(--bodytext-body2-regular-size);
    color: var(--main-color-3);
}
.chn-kho-hc-container {
    top: 93.77px;
    left: 401.5px;
    font-size: var(--font-size-26xl);
    display: inline-block;
    color: var(--primary-1-main-50);
    text-align: center;
    width: 925px;
}
.group-child12,
.group-child13 {
    position: absolute;
    top: 130.73px;
    left: 0;
    border-radius: var(--br-xl);
    background-color: #c2daff;
    width: 519.62px;
    height: 366.76px;
}
.group-child13 {
    top: 152.63px;
    left: 19.84px;
    background-color: #6a8ec5;
    width: 481.78px;
    height: 322.96px;
}
.back-to-school-web-banner-31-2-icon,
.dsc3290-1-icon {
    position: absolute;
    top: 0;
    left: 103.84px;
    width: 330.16px;
    height: 137.09px;
    object-fit: cover;
}
.dsc3290-1-icon {
    top: 172.52px;
    left: 34.68px;
    width: 452.11px;
    height: 303.08px;
}
.khoahoc-inner,
.rectangle-parent7 {
    position: absolute;
    top: 1091.39px;
    left: 186.38px;
    width: 519.62px;
    height: 497.49px;
}
.khoahoc-inner {
    top: 900.45px;
    left: 0;
    width: 1728px;
    height: 114.26px;
    opacity: 0.5;
}
.group-child14,
.khoahoc {
    position: absolute;
    left: 0;
    width: 1728px;
    overflow: hidden;
}
.khoahoc {
    top: 2195px;
    height: 1814px;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-seagreen);
    font-family: var(--font-oregano);
}
.group-child14 {
    top: 0;
    height: 766px;
}
.teacher-collection-03-1,
.teacher-collection-04-1 {
    position: relative;
    border-radius: var(--br-3xs);
    width: 332px;
    height: 343px;
    flex-shrink: 0;
    object-fit: cover;
}
.teacher-collection-03-1 {
    width: 333px;
}
.teacher-collection-04-1-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 33px;
}
.gp-g-phi-hnh-on-gio-vi-parent {
    position: absolute;
    top: 115px;
    left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-51xl);
}
.frame-parent15 {
    position: absolute;
    top: 4893.6px;
    left: 0;
    width: 1728px;
    height: 766px;
}
.dsc3461-1-icon,
.group-child15 {
    border-radius: var(--br-3xs);
    width: 1428px;
    height: 520px;
}
.dsc3461-1-icon {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.group-child15 {
    background-color: var(--color-darkslateblue-100);
    opacity: 0.7;
}
.bt-u-hc,
.dsc3461-1-parent,
.group-child15 {
    position: absolute;
    top: 0;
    left: 0;
}
.dsc3461-1-parent {
    width: 1428px;
    height: 520px;
}
.bt-u-hc {
    display: inline-block;
    width: 765px;
}
.wrapper {
    position: absolute;
    top: 4px;
    left: 391px;
    border-radius: var(--br-3xs);
    background-color: #ffc93f;
    width: 63px;
    height: 45px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xs) var(--padding-6xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.bt-u-hc-ch-vi-bc-n-g-parent {
    position: relative;
    width: 765px;
    height: 49px;
    flex-shrink: 0;
}
.group-child16 {
    position: absolute;
    top: 54.5px;
    left: 103.5px;
    border-top: 1px solid var(--main-color-3);
    box-sizing: border-box;
    width: 647px;
    height: 1px;
}
.frame {
    border-radius: var(--br-81xl);
    background-color: var(--main-color-3);
    border: 1px solid var(--color-slateblue);
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: center;
}
.li-thng-tin-container {
    position: relative;
    font-size: var(--subheading-sub3-bold-size);
    display: inline-block;
    color: var(--main-color-3);
    width: 220px;
}
.frame-parent17 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-6xl);
}
.lm-bi-test-container {
    position: relative;
    font-size: var(--subheading-sub3-bold-size);
    color: var(--main-color-3);
}
.frame-parent18,
.frame-parent19 {
    position: absolute;
    top: 0;
    left: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-6xl);
}
.frame-parent19 {
    left: 640px;
    gap: var(--gap-17xl);
}
.line-parent {
    position: relative;
    width: 860px;
    height: 186px;
    flex-shrink: 0;
    font-size: var(--font-size-26xl);
    color: var(--color-slateblue);
}
.group-parent9 {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-31xl);
}
.button6,
.frame-parent16,
.group-parent9 {
    display: flex;
    align-items: center;
}
.button6 {
    border-radius: var(--br-81xl);
    background-color: #ffe7e7;
    box-shadow: 0 20px 60px rgba(185, 19, 26, 0.25);
    width: 361px;
    height: 55px;
    flex-shrink: 0;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-23xl);
    box-sizing: border-box;
    justify-content: center;
    gap: var(--gap-mini);
    text-align: left;
    font-size: var(--bodytext-body2-regular-size);
    color: var(--primary-1-main-50);
}
.frame-parent16 {
    position: absolute;
    top: 55px;
    left: 284px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-51xl);
}
.group-parent8 {
    position: absolute;
    top: 6610.6px;
    left: 150px;
    width: 1428px;
    height: 520px;
    font-size: var(--font-size-21xl);
    color: var(--main-color-3);
}
.group-child17 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-1-main-50);
    width: 1728px;
    height: 425px;
}
.thanh-ton-hc {
    position: relative;
    display: inline-block;
    width: 233px;
}
.thng-tin-nh-trng-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lg);
    text-align: left;
    font-size: var(--bodytext-body2-regular-size);
}
.kha-hc-ting-anh-parent,
.thng-tin-parent,
.ti-ng-dng-wrapper,
.v-vus-parent {
    position: absolute;
    top: 83.09px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.thng-tin-parent {
    left: 890.23px;
    gap: var(--gap-xl);
}
.kha-hc-ting-anh-parent,
.ti-ng-dng-wrapper,
.v-vus-parent {
    left: 1285.23px;
}
.kha-hc-ting-anh-parent,
.v-vus-parent {
    left: 454.23px;
    gap: var(--gap-xl);
}
.v-vus-parent {
    left: 131.23px;
}
.image-4-icon {
    position: absolute;
    top: 234.09px;
    left: 1276px;
    width: 169px;
    height: 64.04px;
    object-fit: cover;
}
.rectangle-parent8 {
    position: relative;
    width: 1728px;
    height: 425px;
    flex-shrink: 0;
}
.group-child18 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-81xl);
    background-color: var(--main-color-3);
    width: 50px;
    height: 50px;
}
.group-icon4 {
    position: absolute;
    height: 52%;
    width: 27.72%;
    top: 24%;
    right: 36.28%;
    bottom: 24%;
    left: 36%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.rectangle-parent9 {
    position: relative;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.group-wrapper5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.vector-icon4 {
    position: absolute;
    height: 36.2%;
    width: 52%;
    top: 32%;
    right: 24%;
    bottom: 31.8%;
    left: 24%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.frame-icon4 {
    position: relative;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    overflow: hidden;
}
.frame-parent20 {
    background-color: var(--primary-1-main-50);
    border: 1px solid var(--main-color-3);
    box-sizing: border-box;
    width: 1728px;
    height: 122px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-31xl);
}
.cng-ty-c-container,
.group-icon6 {
    position: relative;
    width: 106.84px;
    height: 51.94px;
    flex-shrink: 0;
}
.cng-ty-c-container {
    line-height: 129.34%;
    display: inline-block;
    width: 1320.77px;
    height: 55.13px;
}
.group-parent11 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 37px;
}
.frame-wrapper,
.group-parent10 {
    display: flex;
    flex-direction: column;
}
.frame-wrapper {
    background-color: var(--primary-1-main-60);
    width: 1728px;
    height: 125px;
    flex-shrink: 0;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: var(--bodytext-body1-regular-size);
    font-family: var(--font-averta-regular);
}
.group-parent10 {
    position: absolute;
    top: 8096px;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 672px;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-6xl);
    color: var(--main-color-3);
}
.group-icon7 {
    position: absolute;
    height: 0.65%;
    width: 3.96%;
    top: 6.09%;
    right: 36.89%;
    bottom: 93.25%;
    left: 59.15%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.desktop-ielts-page {
    position: relative;
    background-color: var(--main-color-3);
    width: 100%;
    height: 8768px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-26xl);
    color: var(--primary-1-main-50);
    font-family: var(--bodytext-body1-regular);
}
